<!DOCTYPE html>
<html>
<head>
	<title><%=user.username%></title>
	<style type="text/css">
		img {
			width: 300px;
			height: 100%;
		}
		div {
			display: inline-block;
			width: 30%;
			padding: 0 0 40px 0 ;
		}
	</style>
</head>
<body>
	<header>
		<h1><%=user.username%></h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/users/login">Login</a></li>
				<li><a href="/users">Users Home Page</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<% if(owner === true) {%>	
			<section>
				<form method='GET' action='/users/<%=user.id%>/edit'>
					<input type="submit" value="Edit Account Settings">
				</form>
			</section>
			<section>
				<form method='POST' action='/users/<%=user.id%>?_method=DELETE'>
					<input type="submit" value="Delete Account">
				</form>
			</section>
		<% } %>


		<section>
			<% for (let i = 0; i < user.photos.length; i++) { -%>
				<div>
					<a href="/photos/<%=user.photos[i].id%>">
						<img src="<%=user.photos[i].source%>" alt="<%=user.photos[i].name%>">
					</a>
				</div>
			<% } -%>
		</section>


	</main>
</body>
</html>